.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabSelectors {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.ImageCard {
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.ImageIcon {
  max-width: 5em;
  max-height: 5em;
}

.procContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.fullWidthBtn {
  display: block;
  width: 100%;
  text-align: center;
}
